/* -------- Maglife css -------- */

/* Basics */
html {
    background-color: #EDE2F4;
}
body > main {
    padding-top: 2rem;
}


/* Header and logo */
header > .site-logo {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin-bottom: 2rem;
}
header > .site-logo > a {
    color: black;
    text-decoration: none;
}
header > .site-logo > a:hover {
    color: black;
    text-decoration: underline;
}


/* Nav menu */
nav.menu-bar {
    margin-bottom: 2rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.6rem;
    text-align: center;
    font-family: monospace;
    justify-content: center;
}
nav.menu-bar > * {
    margin-left: 1rem;
    margin-right: 1rem;
}
nav.menu-bar a:hover {
    text-decoration: underline;
}


/* UI Segments */
.ui-segment {
    margin-bottom: 4rem;
}
.ui-segment > .ui-segment-heading {
    border-bottom: 12px solid black;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.ui-segment > .ui-segment-heading h2 {
    display: inline;
    font-size: 1rem;
    font-weight: normal;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-family: monospace;
}
.ui-segment .ui-segment-heading  a {
    font-family: monospace;
    margin-left: 1rem;
}


/* Cards */
.card {
    background: white;
    padding: 2rem;
}


/* Article link card */
.article-link-title {
    text-align: center;
    margin-bottom: 0.6rem;
    font-size: 3rem;
    font-family: serif !important;
}
.article-link-title a:hover {
    text-decoration: underline;
}
.article-link-meta {
    display: flex;
    font-family: monospace;
}
.article-link-meta-left {
    flex-basis: 30%;
    padding-right: 1rem;
}
.article-link-meta-right {
    border-left: 1px solid #ddd;
    padding-left: 2rem;
}


/* Topic Grid */
.topic-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-family: monospace;
    justify-content: space-between;
}
.topic-grid > .topic-link {
    flex-basis: 30%;
    margin-bottom: 1rem;
}
.topic-grid > .topic-link:hover {
    text-decoration: underline;
}
.topic-grid > .topic-link img {
    margin-bottom: 0.5rem;
}
.topic-grid > .topic-link img:hover {
    outline: 1px solid black;
}


/* Article list */
.article-list {
    font-family: monospace;
}
.article-list .article-list-item {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    margin: 0;
}
.article-list .article-list-item:last-child {
    border-bottom: none;
}
.article-list .article-list-item span:nth-child(1) {
    flex-basis: 50%;
}
.article-list .article-list-item span:nth-child(2) {
    flex-basis: 30%;
}
.article-list .article-list-item span:nth-child(3) {
    flex-basis: 20%;
}


/* Articles */
.article {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 8rem;
}
.article-header >  h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.article-header > .subtitle {
    text-align: center;
    font-style: italic;
}
.article-header > .article-metadata {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.6rem;
    font-family: monospace;
}
.article-header > .article-metadata > * {
    margin-left: 1rem;
    margin-right: 1rem;
}
.article-body {
    padding-left: 4rem;
    padding-right: 4rem;
}


/* Mobile */
@media (max-width: 576px) {
    .article {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .article-body {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    nav.menu-bar {
        flex-wrap: wrap;
    }
    nav.menu-bar > * {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}
